<div class="container mt-3">
  <div class="row">
    <div class="col-8 m-auto">
      <form #postForm="ngForm" (ngSubmit)="onCreatePostClick(postForm.value)">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            ngModel
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            class="form-control"
            id="content"
            required
            ngModel
            name="content"
          ></textarea>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!postForm.valid"
        >
          Send Post
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-8 m-auto">
      <button class="btn btn-primary" (click)="onFetchPostsClick()">
        Fetch Posts
      </button>
      |
      <button
        class="btn btn-danger"
        [disabled]="posts.length < 1"
        (click)="onClearPostsClick()"
      >
        Clear Posts
      </button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-8 m-auto">
      <p>No posts available!</p>
    </div>
  </div>
</div>
